streamlit
requests==2.31.0
numpy==1.26.4
pandas==2.2.1
streamlit-aggrid
sqlalchemy
altair 
blinker 
cachetools 
click 
gitpython 
numpy 
packaging 
pillow 
protobuf 
pyarrow 
pydeck 
requests 
tenacity 
toml 
tornado 
typing-extensions 
watchdog
psycopg2
validate_docbr
docxtpl
num2words
bcrypt
xlsxwriter
configparser
os
